@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

h1, h2, h3, h4, h5, h6{
  font-size: 50px;
  line-height: 75px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
p{
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 28px;
font-weight: 400;
}
a, a:hover{
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
